@*@{
    Layout = null;
}*@

<h1>Add Cheese</h1>

<form method="post">
    Cheese Name:<br />
    <input name="name" type="text" />
    <br />

    Description:<br />    
    <input name="description" type="text" />

    <input type="submit" value="Add Cheese"/>
</form>